{% extends 'base.html.twig' %}

{% block title %}Modifier mon numéro de téléphone - Yoi Sushi{% endblock %}

{% block content %}
    <h1>Modifier mon numéro de téléphone</h1>

     {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {{ form(form) }}

    <a href="{{ path('account') }}"> Retourner à mon compte </a></br>
    
{% endblock %}
